*{
	font-family: 'PT Sans', sans-serif;
	margin: 0px;
}

/**navigation**/
nav{
	height: 90px;
	width: 100%;
	background-color: #FB7F00;
}
nav img{
	width: 30px;
	height: auto;
	margin: 25px 5px 20px 50px;
	display: inline-block;
}
nav h1{
	color: white;
	display: inline-block;
	position: relative;
	top: -30px;
}
nav h1 #header{
	font-weight: bolder;
}
nav ul{
	float: right; 
	display: inline-block;
}
nav ul li{
	display: inline-block;
	padding: 30px 20px 20px 10px;
}
nav a{
	color: white;
	text-decoration: none;
}
/**header**/
header div{
	margin-left: 80%;
	margin-top: 0px;
	margin-right: 5%;
	height: 30px;
	width: 18%;
	border: none;
}

header input{
	background-color: #F0EEEF;
	border: none;
	width: 70%;
	margin-right: 0%;
}
header i{
	color: gray;

	border: none;
	margin-left: 0%;
}


/**main body**/
section,
header{
	background-color: #FBFBFB;
}

section img{
	display: inline-block;
	clear: left;
	margin: 50px 10px 80px 100px;
	width: 35%;
	height: auto;
}
section #paragraph{
	float: right;
	font-size: 36px;
	width: 40%;
	margin-top: 100px;
	margin-right: 120px;
	color: #FB7F00;
}
section p span{
	font-weight: bold;
}
.green{
	color: #7ACCC8;
}
section div button{
	border: none;
	padding: 10px;
	width: 40%;
	height: 60px;
	margin-top: 70px;
	font-size: 20px;
	color: white;
	vertical-align: middle;
}
#orange{
	background-color: #FB7F00;
}
#green{
	background-color: #7ACCC8;
	margin-left: 30px;
}
footer{
	background-color: #7ACCC8;
	height: 90px;
	clear: both;
}

/************************************
       media queries
 ***********************************/
@media (max-width: 921px){
	section img{
	display: inline-block;
	clear: left;
	margin: 50px 10px 80px 0%;
	width: 35%;
	height: auto;
	}
	section #paragraph{
	font-size: 26px;
	width: 50%;
	margin-top: 60px;
	margin-right: 5%;px;
	color: #FB7F00;
	}
}
@media (max-width: 739px){
	nav{
		width: 100%;
		height: 180px;
	}
	nav ul{
		display: block;
		width: 100%;
	}
	section #paragraph button{
		display: inline-block;
		width: 35%;
		height: auto;
		margin-bottom: 20px;
	}
}
@media (max-width: 543px){
	nav .disappear{
		display: none;
	}
	section img,
	section #paragraph
	{
		display: block;
		margin: 0px auto;
		width: 100%;
	}
	section p{
		padding-left: 10%;
		padding-right: 10%;
	}
	section div #orange,
	section div #green{
	border: none;
	padding: 10px;
	width: 40%;
	height: auto;
	margin-top: 20px;
	margin-left: 30%;
	font-size: 20px;
	color: white;
	display: block;
	clear: both;
	}
}


}
@media (max-width: 363px){
	header{
		display: none;
	}
}